        <div>
            {{ form_start(form) }}
            {{ form(form) }}
            {{ form_end(form) }}
            {#
            <div class="form-group text-black">
            {{ form_label(form.title, "Titre :")}} 
            {{ form_widget(form.title, {'attr':{'class':'form-control'} })}}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.place,"image :") }}
            {{ form_widget(form.place,{"attr": {"class":"form-control"} } ) }}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.day, "Texte :") }}
            {{ form_widget(form.day, {'attr':{'class':'form-control'} }) }}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.content, "Auteur :") }}
            {{ form_widget(form.content, {'attr':{'class':'form-control'} }) }}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.status, "Titre :")}} 
            {{ form_widget(form.status, {'attr':{'class':'form-control'} })}}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.createdat,"image :") }}
            {{ form_widget(form.createdat,{"attr": {"class":"form-control"} } ) }}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.comments, "Texte :") }}
            {{ form_widget(form.comments, {'attr':{'class':'form-control'} }) }}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.user, "Auteur :") }}
            {{ form_widget(form.user, {'attr':{'class':'form-control'} }) }}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.categorie, "Texte :") }}
            {{ form_widget(form.categorie, {'attr':{'class':'form-control'} }) }}
            </div>
            <div class="form-group text-black">
            {{ form_label(form.participants, "Auteur :") }}
            {{ form_widget(form.participants, {'attr':{'class':'form-control'} }) }}
            </div>
            #}  
        </div>